body {
  text-align: justify;
  color: cornsilk;
  background: royalblue;
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  margin: 0px 20px 0px 20px;
  padding: 20px;
  box-shadow: 1px 1px 10px black;
  text-shadow: 1px 1px 2px rgb(0, 1, 48);
}

footer {
  text-align: center;
  margin: 24 0px;
  padding: 4px;
  box-shadow: 1px 1px 2px black;
  margin: auto;
  width: fit-content;
}

.title {
  text-align: center;
  font-weight: bolder;
  color: skyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120px;
  margin: 5px 50px;
  padding: 0px;
  text-shadow: 2px 2px 4px rgb(0, 1, 48);
}

.tweetZone {
  background-color: rgb(220, 245, 255);
  box-shadow: 1px 1px 5px black;
  padding: 3px 2px;
  width: 67%;
  margin: auto;
  position: relative;
}

.tweet {
  text-shadow: 2px 2px 2px rgb(0, 1, 48);
  padding: 5px 10px;
  margin: 10px;
  background-color:royalblue;
  box-shadow: 1px 1px 5px black;
  display: block;
}

.message {
  text-shadow: 2px 2px 2px rgb(0, 1, 48);
  background-color:royalblue;
  display: inline-flex;
  text-align: left;
}

.user {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px 2px rgb(0, 1, 48);
  display: inline-flex;
  width: auto;
  padding: 0px 5px 0px 0px;
}

.timestamp {
  font-size: 12px;
  text-align: justify;
  text-indent: 10px;
  margin: 2px 0px;
}

.btn-default {
  background-color: rgb(220, 245, 255);
  color: cornflowerblue;
  font-weight: bolder;
}

#getTweets {
  position: relative;
  float: center;
}

.hidden {
  display: none;
}